/* styles.css */
body {
    background-color: #e3f2fd;
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  
  .MuiTableCell-root {
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  
  .MuiTableCell-head {
    font-family: 'Impact, Charcoal, sans-serif';
    color: white;
  }
  
  .MuiPaper-root {
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
  }
  